# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Build output
dist/
build/

# Environment variables
.env

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db
data/
public/
temp/
misc/